
<div class="payroll">
<div class="img">
    <img src="/assets/DS LOGO(1).png" height="100px" width="100px">
</div><br>
<h1> Digerati Software Development and Services LLP<br> 
    Payslip for the month May 2022 <br>
    Financial Period 2022-2023<br> <br>
    </h1>
    <br>
    <div class="table"> 
    <table  *ngFor="let a of value">
        <!-- <div class="table1"> -->
        <tr>
            <th  colspan="4">Employee Information </th>
        </tr>
        <tr>
            <td class="th1"  colspan="4">{{a. Name}}</td>
        </tr>
        <tr>
            <td>Employee ID</td>
            <td>1</td>
            <td>Designation</td>
            <td>  {{a. Designation}}   </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Male</td>
            <td>Date Of Joining</td>
            <td> {{a. Date_of_Join}}   </td>
        </tr>
        <tr>
            <td>PAN</td>
            <td>{{a.PAN}}</td>
            <td> Bank Account</td>
            <td> {{a. Bank_AC_Number}} </td>
        </tr>
        <tr>
            <td>Location</td>
            <td></td>
            <td>Loss of Pay</td>
            <td>{{a.LOP}}</td>
        </tr>
        <!-- </div> -->
        </table><br>
  <div class="table2">
        <table *ngFor="let a of value">
            <tr>
                <th>Earnings</th>
                <th>Amount</th>
                <th>Deductions</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>Basic</td>
                <td>{{a.Salary}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>HRA</td>
                <td>6262.4</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Conveyance</td>
                <td>1500.0</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Other Allowance</td>
                <td>712.8</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">

                </td>
            </tr>
            <tr>
                <td>Total Earnings</td>
                <td>{{math.trunc(total)}}</td>
                <td>Total Deductions</td>
                <td>0</td>
            </tr>
            <tr>
                <th colspan="3">Net Salary = ( A ) - ( B )</th>
                <td>21000.0</td>
            </tr>
        </table>
        </div><br>
         <div class="buttons">
            <!-- <button (click)="back()"><i class="fa fa-angle-double-left"></i> back</button> -->
        <button (click)="print()" >print</button>
        <button (click)="back()"><i class="fa fa-angle-double-left"></i> back</button>
        </div>
         
    
           </div>
