
<h1>Details</h1>
<ng-container *ngFor="let la of ans">
<table>
   
  <tr>
    <th>Employee ID </th>
    <td>{{la.id}}</td>
  </tr><br>
  
  <tr class="c1">
    <th>Employee Name</th>
    <td> {{la.Name}}</td>
  </tr>
 
  <br>
 
    <tr>
      <th>Father's Name</th>
      <td> {{la.Father_Name}}</td>
    </tr>
    <br>
  
      <tr class="c1">
        <th>Date Of Join</th>
        <td> {{la.Date_of_Join}}</td>
      </tr>   <br>
    
      <tr class="c1">
        <th>Gender</th>
        <td>{{la.gender}}</td>
      </tr>
     
        <tr>
          <th>Mobile Number</th>
          <td>{{la.Mobile_NO}}</td>
        </tr>   <br>
        
          <tr class="c1">
            <th>Postal Address</th>
            <td>{{la.Postal_Address}}</td>
          </tr>   <br>
         
            <tr>
              <th>Name Of Nominee</th>
              <td>{{la.Name_of_Nominee}}</td>
            </tr>   <br>
          
              <tr class="c1">
                <th>Salery</th>
                <td>{{la.Salary}}</td>
              </tr>   <br>
             
                <tr>
                  <th>Designation</th>
                  <td>{{la.Designation}}</td>
                </tr>   <br>
              
                  <tr class="c1">
                    <th>Aadhar Number</th>
                    <td>{{la.Aadhar_No}}</td>
                  </tr>   <br>
                 
                    <tr>
                      <th>Pan Number</th>
                      <td>{{la.PAN}}</td>
                    </tr>   <br>
                  
                      <tr class="c1">
                        <th>Bank Account Number</th>
                        <td>{{la.Bank_AC_Number}}</td>
                      </tr>   <br>
                      
                        <tr>
                          <th>IFSC code</th>
                          <td>{{la.IFSC_code}}</td>
                        </tr>   <br>
                        
                          <tr class="c1">
                            <th>Employee Status</th>
                            <td>{{la.Emp_status}}</td>
                          </tr>   <br>
                         
                            <tr>
                              <th>Company Name </th>
                              <td>{{la.Company_Name}}</td>
                            </tr>  
                                 
  </table>
  <br>
<button type="submit" mat-raised-button color="accent" (click)="click()" class="btn">OK</button>
</ng-container>
