.btn{
   
    float: right;
}
table{
  
   width: 100%;
   box-shadow:2px 2px 8px 3px  rgb(82, 79, 239);
  
   border-collapse:collapse ;
  
}
td{
    text-align: center;
}
th ,td{
    border: none;
    font-size: small;
   
   
}
.c1{
    background-color: rgb(246, 243, 89);
}
h1{
    text-shadow: 1px 2px 3px rgb(254, 108, 245);
    text-align: center;
    color: rgb(17, 123, 20);
    font-weight: bolder;
}